@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Mega',sans-serif;
}

body {
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.75rem;
  padding-top: 1.825rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

nav {
  width: 80%;
  font-size: 1.375rem;
  padding-top: 2.5rem;
  padding-bottom: 2.8rem;
}

ul {
  list-style: none;
  display: flex;  
  justify-content: space-around;
}

li {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

a,a:visited {
  color: black;
}

#missionContainer {
  background-image: url('images/skyscrapers.webp');
  background-repeat: repeat;
  opacity: 0.9;
  width: 100%;
  height: 20.95rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#mission {
  margin-top: 2.1rem;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 2.06rem;
  padding-top: 10px;
  padding-bottom: 0.675rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

h3 {
  font-size: 1.375rem;
  padding-top: 9px;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

#portfolio {
  padding-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
}

#figureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;  
  width: 100%;
  opacity: 0.9;
}

figure {
  display: flex;
  flex-direction: row;
  align-items:center;
}

figcaption {
  font-size: 1.375rem;
  font-weight: bold;
  width: 250px;
  padding-top: 1px;  
}

#portfolio img {
  width: 200px;
  height: auto;
  margin: 10px;
}

#team {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.teamContainer {
  background-image: url('images/blurred-road.jpg');
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.9;
}

.teamMember {
  color: white;
  width: 250px;
  padding: 15px 25px 20px 25px;
}

.memberName {
  font-size: 1.6rem;
  padding-top: 12px;
  font-weight: bold;
}

.memberTitle {
  font-size: 22px;
  font-weight: normal;
  padding-top: 20px;
}

#team img {
  width: 200px;
  height: auto;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.14rem;
  font-weight: bold;
  height: 323px;
}

footer a {
  text-decoration: none;
}

footer h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  height: 75px;
  padding-bottom: 14px;
}

.copyright {
  padding-top: 45px;
  padding-bottom: 15px;
}

em {
  color: red;
  font-weight: bold;
  font-style: normal;
}

.example {
  text-align: left;
  margin: 20px;
}

.exampleContainer {
  border: 1px solid red;
  width: 800px;
  height: 400px;
}

.box {
  background-color: dodgerblue;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.box-tall {
  background-color: dodgerblue;
  height: 70px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.box-wide {
  background-color: dodgerblue;
  height: 50px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.box-min {
  background-color: dodgerblue;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.exampleContainer.ex1 {
  display: flex;
}

.exampleContainer.ex2 {
  display: inline-flex;
}

.exampleContainer.ex3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.exampleContainer.ex4 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.exampleContainer.ex5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.exampleContainer.ex6 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.exampleContainer.ex7 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exampleContainer.ex8 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.exampleContainer.ex9 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.exampleContainer.ex10 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.exampleContainer.ex11 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.exampleContainer.ex12 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.exampleContainer.ex13 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.exampleContainer.ex14 {
  width: 800px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 1;
  margin-bottom: 60px;
}

.exampleContainer.ex15 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow:visible;  
}

.no-shrink {
  flex-shrink: 0;
}

.exampleContainer.ex16 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow:hidden;  
}

.exampleContainer.ex17 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}

.box-nosize {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.exampleContainer.ex18 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.exampleContainer.ex19 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
}

.exampleContainer.ex20 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
}

.exampleContainer.ex21 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.exampleContainer.ex22 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content:center;
}

.exampleContainer.ex23 {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content:stretch;
}

